/* 
This file is used to contain all colors varaibles.
*/ 

$body-background : $albaster-color;
$dashboard-card-span-color : $hippie-blue;
$dashboard-card-count-color : $black-solid;
$dashboard-appointments-td-color : $rolling-stone;
$dashboard-appointments-heading-color : $woodsmoke;
$dashboard-table-tophead-color : $rolling-stone;
$dashboard-appointments-datetime-color : $orange-web;
$dashboard-appointments-customer-color : $black-solid;
$dashboard-appointments-select-color : $heather-color;