/* 
This file is used to contain all fonts imports.
*/

// import fonts
@import url("https://fonts.googleapis.com/css?family=Inter:400'");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font varaiables
$poppins: Poppins;
$oswald:Oswald;
// font weight 
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-map: (regular: $font-weight-regular,
medium: $font-weight-medium,
semi-bold: $font-weight-semi-bold,
bold: $font-weight-bold);